{% load static %}
<html>
<head>
<title>Water Scarcity Management</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>
<style>
body {
  background-image: url("{% static 'images/back.jpg' %}");
}
</style>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1><span>Water Scarcity Management through Centralized Knowledge-Sharing Platform</span><small></small></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
          <ul>
      
      <li><a href="{% url 'ShareKnowledge' %}"><font size="3" color="white">Share Your Knowledge</font></a></li>
	  <li><a href="{% url 'AccessAdvice' %}"><font size="3" color="white">Access Expert Advice</font></a></li>
	   <li><a href="{% url 'AccessMap' %}"><font size="3" color="white">Most Drought Area Map</font></a></li>
	    <li><a href="{% url 'Videos' %}"><font size="3" color="white">Videos</font></a></li>
	  <li><a href="{% url 'index' %}"><font size="3" color="white">Logout</font></a></li>
   </ul>
        </div>
        <div class="hbg"><img src="{% static 'images/header_images.jpg' %}" width="1010" height="200" alt="" /></div>

		<font size="3" color="black"><center>{{ data|safe }}</center></font><br/>
		<img src="data:image/png;base64, {{ img }}" alt="" />

       
  </body>
</html>
